body{background-color: yellow;}
div{width: 100vw;
height: 10vh;
background-color: blue;
}
#kutu2{background-color: yellow;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

color: blueviolet;
font-variant: all-small;

}
